[Desktop Entry]
Name=smoothx3
Comment=SmoothX Title Bar ( X Window Style)

X-KDE-PluginInfo-Author=BabuPhilip
X-KDE-PluginInfo-Email=sasha.1594@gmail.com
X-KDE-PluginInfo-Name=smoothx3
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-EnabledByDefault=true
